[global]
media=

use_dgvoodoo_ddraw=0
crack_binaries_if_possible=1
use_original_crack=0
compress_installer_if_possible=1

windows_exclude_movies=0
windows_7zip_fallback=
windows_binarycreator_fallback=
windows_upx_fallback=

unix_exclude_movies=1
unix_wget_fallback=
unix_p7zip_fallback=
unix_binarycreator_fallback=
unix_upx_fallback=
