<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Gruntz</Name>
    <Version>1.0.0.76</Version>
    <Title>Gruntz</Title>
    <Publisher>Monolith Productions</Publisher>
    <StartMenuDir>Gruntz</StartMenuDir>
    <TargetDir>@RootDir@/Games/Gruntz</TargetDir>
    <ControlScript>controlscript.qs</ControlScript> 
</Installer>
