<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Gruntz</Name>
    <Version>1.0.1</Version>
    <Title>Gruntz</Title>
    <Publisher>Monolith Productions</Publisher>
    <StartMenuDir>Gruntz</StartMenuDir>
    <TargetDir>@RootDir@/Games/Gruntz</TargetDir>
    <MaintenanceToolName>uninstall</MaintenanceToolName>
    <MaintenanceToolIniFile>uninstall.ini</MaintenanceToolIniFile>
    <RepositorySettingsPageVisible>false</RepositorySettingsPageVisible>
    <InstallActionColumnVisible>false</InstallActionColumnVisible>
    <SupportsModify>false</SupportsModify>
    <ControlScript>controlscript.qs</ControlScript>
</Installer>
